@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 1.8rem;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem 5rem;
  border-radius: 10rem;
  transition: all 0.2s ease-out;
}
.button:link, .button:visited {
  color: hsl(192, 100%, 9%);
}
.button:active {
  transform: translateY(3px);
}
.button--white {
  background-color: #fff;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954201);
}
.button--white:hover {
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 600px) {
  .button--white {
    font-size: 1rem;
    padding: 0.4rem 2.2rem;
  }
}
.button--pink {
  background-color: hsl(322, 100%, 66%);
}
.button--pink:link, .button--pink:visited {
  color: #fff;
}
.button--pink:hover {
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.4);
  filter: brightness(1.2);
  opacity: 1.5;
}

.callout-box {
  background-color: #fff;
  position: relative;
  margin-inline: auto;
  transform: translateY(30%);
  z-index: 190;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.07);
  border-radius: 1.5rem;
  padding: 5.6rem 13.2rem 5.2rem;
  width: 80rem;
}
@media only screen and (max-width: 1000px) {
  .callout-box {
    max-width: 35.2rem;
    padding: 4.1rem 1.2rem;
  }
}
.callout-box__title {
  font-size: 3.2rem;
  line-height: 6rem;
}
@media only screen and (max-width: 1000px) {
  .callout-box__title {
    font-size: 1.7rem;
    line-height: 3rem;
  }
}
.callout-box__button {
  padding: 2.5rem 10rem;
}
@media only screen and (max-width: 1000px) {
  .callout-box__button {
    font-size: 1rem;
    padding: 1.25rem 5rem;
  }
}

.feature-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 12rem 1.6rem;
  margin-inline: 10.4rem;
  border-radius: 1.6rem;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
  height: 42rem;
}
@media only screen and (max-width: 1000px) {
  .feature-block {
    flex-direction: column-reverse;
    max-width: 60rem;
    text-align: center;
    height: auto;
    width: auto;
    gap: 2.4rem;
    padding: 2.4rem 4rem 3.2rem 4rem;
  }
}
.feature-block__content {
  max-width: 48rem;
}
.feature-block__title {
  font-size: 2.8rem;
}
@media only screen and (max-width: 1000px) {
  .feature-block__title {
    font-size: 2rem;
    line-height: 3rem;
  }
}
.feature-block__description {
  color: hsl(208, 12%, 55%);
}
@media only screen and (max-width: 1000px) {
  .feature-block__description {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
}
.feature-block__image {
  max-width: 42rem;
}
@media only screen and (max-width: 1000px) {
  .feature-block__image {
    max-width: 25.6rem;
  }
}
.feature-block--reverse {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 1000px) {
  .feature-block--reverse {
    flex-direction: column-reverse;
  }
}

.features {
  display: flex;
  flex-direction: column;
  margin: 16rem 0 6rem;
  gap: 4rem;
}
@media only screen and (max-width: 1000px) {
  .features {
    margin-top: 5.9rem;
    align-items: center;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 14.4rem 12rem 6.4rem 7.8rem;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  font-size: 1.4rem;
}
.footer__logo {
  width: 15.2rem;
  color: #fff;
  margin-bottom: 3.2rem;
}
.footer__content {
  position: relative;
  display: flex;
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer__contactItem {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  max-width: 38rem;
}
.footer__nav {
  margin-left: 13rem;
}
.footer__navList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.2rem 14rem;
}
.footer__socials {
  margin-top: 1.4rem;
  margin-left: auto;
}
.footer__socialItem {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
}
.footer__copyright {
  position: absolute;
  right: 0;
  bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
.header__logo {
  width: 20rem;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .header__logo {
    width: 10.4rem;
  }
}

.hero {
  height: 74rem;
  background-color: hsl(193, 100%, 96%);
  background-image: url("../../assets/images/bg-hero-desktop.svg");
  background-size: cover;
  background-position: center;
  padding: 5rem 8rem;
}
@media only screen and (max-width: 1000px) {
  .hero {
    height: 110rem;
  }
}
@media only screen and (max-width: 600px) {
  .hero {
    padding-inline: 3.5rem;
    height: 72rem;
  }
}
.hero__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
@media only screen and (max-width: 1000px) {
  .hero__main {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .hero__main {
    gap: 5.6rem;
  }
}
.hero__content {
  max-width: 53rem;
  align-self: flex-end;
  margin-bottom: 9rem;
}
@media only screen and (max-width: 1000px) {
  .hero__content {
    text-align: center;
    align-self: center;
  }
}
@media only screen and (max-width: 600px) {
  .hero__content {
    margin-bottom: 0;
  }
}
.hero__title {
  font-size: 4rem;
  text-transform: capitalize;
}
@media only screen and (max-width: 600px) {
  .hero__title {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
}
.hero__description {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 600px) {
  .hero__description {
    font-size: 1.6rem;
    line-heihgt: 2.4rem;
  }
}
.hero__button {
  padding: 2rem 8rem;
}
.hero__image {
  max-width: 68rem;
  width: 50vw;
}
@media only screen and (max-width: 1400px) {
  .hero__image {
    width: 40vw;
  }
}
@media only screen and (max-width: 1000px) {
  .hero__image {
    width: 60vw;
    min-width: 30rem;
  }
}

/*# sourceMappingURL=main.css.map */
