.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;

    @media only screen and (max-width: 600px) {
        animation: fadeIn 2s ease-out;
        animation-fill-mode: backwards;
    }

    &__logo {
        width: 20rem;
        cursor: pointer;

        @media only screen and (max-width: 600px) {
            width: 10.4rem;
        }
    }
}
