@use '../abstracts' as a;

.hero {
    height: 85vh;

    background-color: a.$color-cyan-pale;
    background-image: url('../../assets/images/bg-hero-desktop.svg');
    background-size: cover;
    background-position: center;
    padding: 5rem 8rem;

    &__main {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 53rem;
        align-self: flex-end;
        margin-bottom: 9rem;
    }

    &__title {
        font-size: 4rem;
        text-transform: capitalize;
    }

    &__description {
        margin-bottom: 4rem;
    }

    &__image {
        width: 68rem;
    }
}
