@use '../abstracts' as a;

.feature-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 12rem 1.6rem;
    margin-inline: 10.4rem;
    border-radius: 1.6rem;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
    height: 42rem;
    max-width: 120rem;

    @media only screen and (max-width: 1000px) {
        flex-direction: column-reverse;
        max-width: 60rem;
        text-align: center;
        height: auto;
        width: auto;
        gap: 2.4rem;
        padding: 2.4rem 4rem 3.2rem 4rem;
    }

    &__content {
        max-width: 48rem;
    }

    &__title {
        font-size: 2.8rem;

        @media only screen and (max-width: 1000px) {
            font-size: 2rem;
            line-height: 3rem;
        }
    }

    &__description {
        color: a.$color-font-secondary;

        @media only screen and (max-width: 1000px) {
            font-size: 1.4rem;
            line-height: 2.1rem;
        }
    }

    &__image {
        max-width: 42rem;

        @media only screen and (max-width: 1000px) {
            max-width: 25.6rem;
        }
    }

    &--reverse {
        flex-direction: row-reverse;

        @media only screen and (max-width: 1000px) {
            flex-direction: column-reverse;
        }
    }
}
