@use '../abstracts' as a;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: a.$color-font-primary;
    font-size: 1.8rem; // brings font-size to 18px as in specification
}
