$color-pink: hsl(322, 100%, 66%);
$color-cyan-pale: hsl(193, 100%, 96%);
$color-blue-gray: hsl(208, 11%, 55%);

$color-font-primary: hsl(192, 100%, 9%);
$color-font-secondary: hsla(208, 12%, 55%, 1);
